{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block title %}About{% endblock%}

{% block body %}
    <header>
        <h1>About symblog</h1>
    </header>
    <article>
        <p>This blog answers all the questions you were too afraid to ask...</p>
    </article>
{% endblock %}